a, p {
    font-family: 'Silkscreen', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: black;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-family: 'Silkscreen', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

nav {
    padding: 1em;
    text-align: left;
    background-color: white;
}

nav a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

nav a.active, nav a:hover {
    font-weight: bold;
    text-decoration: none;
}

footer, .footer-text {
    text-align: center;
    margin: 0;
    background-color: white;
    color: black;
}

footer {
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content {
    margin: 2em;
    margin-top: 1em;
    background-color: white;
    color: black;
}

.highlight {
    color: red;
}

#resumePassword {
    font-family: 'Silkscreen', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    margin: 5px 0;
    margin-right: 10px;
    padding: 5px;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body, nav, footer, .footer-text, .content {
        background-color: #121212;
        color: white;
    }

    a, p, h1, nav a {
        color: white;
    }
}
